// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.hero-section {
  background-color: #F3F3F3;
  background-image: url(https://image.dream.snhu.edu/lib/fe9213737461067576/m/1/38983517-a09c-4ab7-9438-cf956430bb17.png);
  background-position: bottom;  
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  
}

.span-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 179%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: white;

}

.banner-img {
  height: 100px
}

img.checklist {
  width: 22rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.info-wrapper {
  border: 2px #efefef solid;
}

.get-in-touch {
  background: rgb(0,36,78);
  background: linear-gradient(270deg, rgba(0,36,78,1) 10%, rgba(0,85,154,0.9822303921568627) 66%);
}

.primary-link {
  color: $primary;
  font-weight: 400 !important;
}

@media only screen and (max-width: $breakpoint-sm) { 

  .hero-section {
    background-color: $ink-blue;
    background-image: none;
    height: 45rem;
    
  }


  .content {
    margin-top: 8rem;
  }

}

  
  
  
 
  
  
 
  